body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}

#toolbar {
    margin: 10px;
    font-size: larger;
    min-width: 80vw;
    
    display: flex;
    justify-content: space-between;
}

#options {
    display: flex;
    justify-content: space-between;
}

#clearButton {
    height: 30px;
    width: 60px;
    font-size: large;
}
label {
    margin: 0 10px;
}

#sketchPad {
    border: solid #000;
    border-radius: 10px;
    min-width: 80vw;
    min-height: 70vh;

    display: flex;
    flex-wrap: wrap;
}